<div class="container">
   <div class="row d-flex justify-content-center align-items-center h-100 mt-5">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      
      <h2 class="text-uppercase text-center mb-5">Edit your profile</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        
        <div class="form-outline mb-4">
          <%= f.text_field :username, autofocus: true, autocomplete: "usename", class:"form-control w-100 form-control-lg", placeholder:"Username" %>
        </div>
        <div class="form-outline mb-4">
           <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname", class:"form-control w-100 form-control-lg", placeholder:"Firstname" %>
        </div>
        <div class="form-outline mb-4">
            <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname", class:"form-control w-100 form-control-lg", placeholder:"Lastname" %>
        </div>
        <div class="form-outline mb-4">
          <%= f.text_area :bio, autofocus: true, autocomplete: "Bio", class:"form-control w-100 form-control-lg", placeholder:"Bio" %>
        </div>
        <div class="form-outline mb-4">
          <%= f.text_area :about, autofocus: true, autocomplete: "About", class:"form-control w-100 form-control-lg", placeholder:"About" %>
        </div>
         <div class="form-outline mb-4">
            <%= f.text_field :email, autofocus: true, autocomplete: "email", class:"form-control w-100 form-control-lg", placeholder:"Email", :disabled => true %>
        </div>
         
        <div class="form-outline mb-4">
          <%= f.collection_select(:career_id, Career.all, :id, :field, :prompt => 'Select your title', class:"") %>
        </div>
        <div class="d-flex justify-content-center">
                  <%= f.submit "Update your profile", class:"btn btn-colour-1 w-100" %>
        </div>
      <%end%>

      <% current_user.skills.each do |s| %>
        <%= s.name %>
        <%= s.level %>
      <%end%>
    
      <%= form_with url: user_skills_path(current_user), local: true do |f| %>
        <%= f.text_field :name, placeholder:"Add new skills" %><br><br>
                  <%= f.number_field :level, placeholder:"Add skill level", min: 0, max: 100 %><br><br>
                  <%= button_tag( :class => "btn btn-primary w-100") do %>
          <i class="fas fa-plus"></i> Add a skill
        <% end %>
      <%end%>
                <br>
  </div>  
      <div class="mt-5">
        <h3>Cancel my account</h3>
        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn-colour-danger" %></p>
      </div>
    </div>
    
    </div>
    
</div>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><%= f.text_field :firstname, autofocus: true, class:"form-control", placeholder:"First name" %></div>
                    <div class="col-md-6"><label class="labels">Surname</label><%= f.text_field :lastname, autofocus: true, class:"form-control", placeholder:"Last name" %></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 my-2"><%= f.text_field :username, autofocus: true,class:"form-control", placeholder:"Username" %></div>
                    <div class="col-md-12 my-2"><%= f.text_area :bio, autofocus: true, autocomplete: "Bio", class:"form-control", placeholder:"Bio" %></div>
                    <div class="col-md-12 my-2"><%= f.text_area :about, autofocus: true, autocomplete: "About", class:"form-control", placeholder:"Bio" %></div>
                    <div class="col-md-12 my-2"> <%= f.collection_select(:career_id, Career.all, :id, :field, :prompt => 'Select your title', class:"form-control") %></div>
                 
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>
                <div class="mt-5 text-center"><%= f.submit "Update your profile", class:"btn btn-colour-1 w-100" %></div>
                <%end%>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>