<%= render partial: "navs/nav" %>

<div class="container">
  <% @users.each do |user| %>
    <%=  %>
  <%end%>
</div>

<div class="container">
    <div class="row p-5 my-3">
    <% @users.each do |user| %>
      <div class="col">
      
        <div class="card">
          <div class="card-body">
          <div class="d-flex flex-row justify-content-between align-items-center">
          <%= link_to user_path(user), class:"nav-link", :action => 'go' do %>
            <div class="d-flex flex-row align-items-center">
            
                <%= image_tag user_avatar(user), class:"border rounded-circle", width:"75"%>
              
              <div class="d-flex flex-column flex-wrap ml-2">
                <span class="font-weight-bold"><%= user.firstname.capitalize %> <%= user.lastname.capitalize %></span> 
                <span class="font-weight-bold text-muted">@<%= user.username.downcase %></span>
                
              </div>
             
              
            </div>
            <%end%>
            <div class="">
                  <% if current_user && current_user.following?(user) %>
                    <%= render 'unfollow' %>
                  <% else %>
                    <%= render 'follow' %>
                  <% end %>
                </div>
          </div>
         
          </div>
          
        </div>
      </div>
    <%end%>
    
	</div>
</div>

