<%= render partial: "navs/nav" %>
<div class="container">
  <!-- Button trigger modal -->

</div>

<div class="container"> 
  <button type="button" class="btn btn-colour-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Post something</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for Post.new, :url => posts_path(), :method => :post do |f| %>
    <%= f.text_area :content, placeholder: "Post here", class:"w-100 text",cols: 60, rows: 15 %>
    
         <%= f.select(:career_id, Career.all.collect {|u| [u.field, u.id]}, {:prompt => 'Tag to a career'},{class: "form-control selectpicker",data: {"live-search": true}}) %><br><br>
        <%# <%= f.select :skill_id, options_for_select(Skill.all.collect{ |u| [u.name, u.id] }), {prompt:"Tag to skill"}, {class: "form-control selectpicker", data: {"live-search": true}}%>
    </div><br>
      <div class="modal-footer">
        <%= button_tag( :class => "btn btn-primary w-100") do %>
            <i class="fas fa-comment-alt"></i> Post
        <% end %>
        <%end%>
      </div>
    </div>
  </div>
</div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><%= current_user.career.field.capitalize %> posts</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My connections</a>
  </li>
  
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    
    <% @posts_career.each do |post| %>
      <% if post.career_id == current_user.career.id %>
       <div class="container">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="feed p-2">
                <div class="bg-white border mt-2">
                    <div>
                        <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                        <%= link_to post_user_path(post, post.user), :action => 'go' do %>
                            <div class="d-flex flex-row align-items-center feed-text px-2"><%= image_tag user_avatar(post.user), class:"border rounded-circle", width:"45"%>
                                <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold text-muted"><%= post.user.username.capitalize %></span><span class="text-black-50 time">40 minutes ago</span></div>
                            </div>
                        <%end%>
                            <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
                        </div>
                    </div>
                    <div class="p-5 px-3">
                      <p><%= post.content %></p>
                      <span>
                        <%= link_to like_post_path(post),class:"like-btn", method: :put, remote: :true do%>
                                <span><i class="fas fa-thumbs-up"></i></span>
                                <span class="badge btn-colour-1"><%= post.get_upvotes.size %></span>
                        <% end %>
                        
                      </span>
                    </div>
                      
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-comment-alt"></i>
                              <span class="mx-2">Comments</span> <span class="badge btn-colour-1"><%= post.comments.size %></span>
                          </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body w-100">
                            
                              <%= form_with(model: [post, @comments_new], local: true) do |f|%>
                              <%= f.text_area :text, placeholder: "Add a comment", class:"w-100 text" %>
                           
                            <%= f.submit "Comment", class:"btn btn-colour-1" %>
                            
                        <%end%>
                        <div class="p-3">
                          <% post.comments.limit(5).most_recent.each do |c| %>
                            <div class="d-flex flex-row align-items-start p-2">
                              <div class="">
                              <%= link_to post_user_path(post, post.user), :action => 'go' do %>
                                <%= image_tag user_avatar(post.user), class:"border rounded-circle", width:"45"%>
                              
                            <%end%>
                              </div>
                              <div class="">
                              <p class="text-dark p-3 comment-bg-color">
                              <%= c.text %>
                            </p>
                              </div>
                            </div>
                           
                          <%end%>
                          <div class="text-center">
                          <%= link_to post_path(post), class:"text-secondary" do %>
                            <i class="fas fa-comment-alt"></i>
                            <span class="">View post and all comments</span>
                          <% end %>
                          </div>
                        </div>
                      </div>
             
                      </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    </div>
    <% end %>
    <%end%>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
         <% current_user.following.each do |followed| %>
          <% followed.posts.most_recent.each do |post| %>
       <div class="container">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="feed p-2">
                <div class="bg-white border mt-2">
                    <div>
                        <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                        <%= link_to post_user_path(post, post.user), :action => 'go' do %>
                            <div class="d-flex flex-row align-items-center feed-text px-2"><%= image_tag user_avatar(post.user), class:"border rounded-circle", width:"45"%>
                                <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold text-muted"><%= post.user.username.capitalize %></span><span class="text-black-50 time">40 minutes ago</span></div>
                            </div>
                        <%end%>
                            <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
                        </div>
                    </div>
                    <div class="p-5 px-3">
                      <p><%= post.content %></p>
                      <span>
                        <%= link_to like_post_path(post),class:"like-btn", method: :put, remote: :true do%>
                                <span><i class="fas fa-thumbs-up"></i></span>
                                <span class="badge btn-colour-1"><%= post.get_upvotes.size %></span>
                        <% end %>
                        
                      </span>
                    </div>
                      
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-comment-alt"></i>
                              <span class="mx-2">Comments</span> <span class="badge btn-colour-1"><%= post.comments.size %></span>
                          </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body w-100">
                            
                              <%= form_with(model: [post, @comments_new], local: true) do |f|%>
                              <%= f.text_area :text, placeholder: "Comment here", class:"w-100 text" %>
                           
                            <%= f.submit "Comment", class:"btn-colour-1" %>
                        <%end%>
              </div>
                        
                      </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    </div>
    <%end%>
    <%end%>
  </div>
</div>