<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1>
                <%= @post.title %>
            </h1>
            <p class="">
                <%= @post.content %>
            </p>
            <div><%= @post.created_at.strftime("%B %Y") %></div>
        </div>
        <div class="col-md-4 p-5 border-start">
            <%@post_comments.each do |comment|%>
                <div class="comment-widgets m-b-20 p-5">
                    <div class="d-flex flex-row comment-row">
                        <div class="p-2"><span class="round"><%= link_to user_path(comment.user), :action => 'go' do  %>
                            <%= image_tag user_avatar(comment.user), class:"img-responsive rounded-circle border shadow",width:"45"%>
                        <%end%></span></div>
                        <div class="comment-text w-100">
                            
                            <div class="comment-footer"> <span class="text-muted"><%= comment.created_at.strftime("%B %Y") %></span> </div>
                            <p class="m-b-5 m-t-10"><%= comment.text.capitalize  %></p>
                        </div>
                    </div>
                    </div>
            <%end%>
        </div>
    </div>
</div>



